*{margin: 0;padding: 0}
*{box-sizing: border-box;}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
a{color: inherit;text-decoration: none;}
ul,ol{list-style: none}
h1,h2,h3,h4,h5,h6{font-weight: normal}
#page{
    display: flex;
    flex-wrap: wrap

}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(31, 78, 121)
}
aside{
    width: 100px;
    background-color: red;
}
main{
    flex: 1;
    background-color: blue;
    min-height: calc(100vh - 100px);
}
